<included>
    <!-- Logging config properties -->
    <springProperty scope="context" name="app" source="spring.application.name"/>
    <springProperty scope="context" name="jeapLoggingPlatform" source="jeap.logging.platform"/>

    <!-- Properties used by JeapLogFormatContextListener to decide which log format/appender to use -->
    <springProperty scope="context" name="adminEnabled" source="spring.boot.admin.client.enabled"/>
    <springProperty scope="context" name="adminUrl" source="spring.boot.admin.client.url"/>
    <springProfile name="rollingLogFile">
        <property scope="context" name="rollingLogFileProfile" value="true"/>
    </springProfile>
    <contextListener class="ch.admin.bit.jeap.log.logback.JeapLogConfigurationContextListener"/>

</included>
